/* Hero section */
.hero-section {
    
    background-image: url(../images/background/fries-hero-bg.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    font-size: 1em;
    padding: 1px 20px;
    background-color: #11122b;
    color: #cbcbcb;
    width: 300px;
    border-radius: 2px;
}

.hero-section > .bottom-heading {
    padding: 1px 20px;
    background-color:#cea135;
    color: #11122b;
    width: 300px;
    border-radius: 2px;
    margin-top: 15px; 
}

@media (max-width: 600px) {
    .hero-section {
    
        background-image: url(../images/background/fries-hero-bg.jpg);
        padding: 50px;
        height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .hero-section > .top-heading  {
        font-size: 0.5em;
        margin: 0px;
        padding: 1px 20px;
        background-color: #11122b;
        color: #cbcbcb;
        width: 200px;
        border-radius: 2px;
    }
    
    .hero-section > .bottom-heading {
        padding: 1px 20px;
        background-color:#cea135;
        color: #11122b;
        width: 200px;
        border-radius: 2px;
        margin-top: 15px; 
    }
}

.feature-section {
    width: 100%;
    height: 400px;
    background-image: url(../images/background/fries-multiply-bg.jpg);
    background-color: #cea135;
    border-top: 10px solid white;
    color: #11122b;
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items:  center;
    font-size: 0.7em;
    box-shadow: inset 0px -26px 79px -8px rgba(0,0,0, 0.58);
}

.feature-section > .columns-wrapper {
    display: flex;
    justify-content: space-between;
}

.feature-section > .columns-wrapper > .column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.feature-section > .columns-wrapper > .column:hover {
    border-bottom: 5px solid #11122b;
}

.feature-section > .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}

.feature-section > .columns-wrapper > .column :nth-child(2) {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}

.feature-section > .columns-wrapper > .column :nth-child(2):hover {
    letter-spacing: 1px;
    text-indent: 1px;
    text-align: center;

}

.feature-section > .columns-wrapper > .column :nth-child(3) {
    letter-spacing: 1px;
}

@media(max-width:600px) {
    .feature-section {
        width: 100%;
        height: 100%;
        background: url(../images/background/fries-multiply-bg.jpg) repeat-x repeat-y center center ;
        background-color: #cea135;
        border-top: 10px solid white;
        color: #11122b;
        font-family: 'Ubuntu Condensed', sans-serif;
        display: flex;
        justify-content: center;
        align-items:  center;
        font-size: 0.7em;
        box-shadow: inset 0px -26px 79px -8px rgba(0,0,0, 0.58);
    }
    
    .feature-section > .columns-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}
