/* commen nav styles */
.Navigation-wrapper{
    height: 190px;
    background-color: #11122b;
    color: burlywood;
    /* Flexbox container */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px; */
    /* padding: 60px 100px 60px 100px; */
    padding: 60px 100px;
}

/* left column */

.left-column{
    display: flex;
    align-items: center;
}

.left-column  > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    
}

.contact-hours-wrapper > .phone{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.Navigation-wrapper > .left-column >.icon{
    margin-right: 10px;
    color:burlywood;
    font-size: 2em;
}

.contact-hours-wrapper > .hours{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
    font-size: 0.8em;
}
/* central column */

.Link-wrapper > a.nav-link {
    font-family: 'Ubuntu Condensed', sans-serif;
    display: inline;
    color: burlywood;
    margin-right: 40px; 
    margin-left: 40px; 
}

.central-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}


.Link-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img.banner-image {
    width: 60%; 
    height:100%;
}

.nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    text-decoration: none;
    transition: 0.5s; 
}

.nav-link a:hover {
    color: #cbcbcb;
    letter-spacing: 2px;
}

.nav-link {
    width: 70px;
    text-align: center;
}



/* right column */

.Navigation-wrapper > .right-column > .address-wrapper {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: burlywood;
    text-align: right;
}

.Navigation-wrapper > .right-column {
     display: flex;
     align-items: center;
}

.Navigation-wrapper > .right-column > .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.Navigation-wrapper > .right-column > .address-wrapper a {
   color: #858585;
   text-decoration: none;
   font-size:  0.9em;
   transition: 0.5s;
}

.Navigation-wrapper > .right-column > .address-wrapper a:hover {
    color: burlywood;
 }

 .Navigation-wrapper > .right-column > .contact-icon a {
    color: #858585;
    font-size:  0.9em; 
    transition: 0.5s;
 }
 
 .Navigation-wrapper > .right-column > .contact-icon a:hover {
     color: burlywood;
  }


@media (max-width: 600px) {
    .Navigation-wrapper{
        height: 100%;
        background-color: #11122b;
        color: burlywood;
        /* Flexbox container */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 100px;
        padding-top: 50px;
        padding-bottom: 50px; */
        /* padding: 60px 100px 60px 100px; */
        padding: 10px 10px;
    }
    
    /* left column */
    
    .left-column{
        display:none;
    }
    
    
    /* central column */

    .central-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .Link-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }

    /* right column */
    .Navigation-wrapper > .right-column > .address-wrapper {
        display:none;
    }

    .Navigation-wrapper > .right-column > .contact-icon a {
        display:none;
    }
    
    
}

